@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.starter-plan,
.professional-plan,
button {
  transition: all 0.15s ease-in;
}

.starter-plan:hover,
.professional-plan:hover {
  box-shadow: 0 8px 15px rgba(172, 172, 172, 0.548);
}

#starter:hover {
  background-color: #07383d;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.575);
}

#pro:hover {
  background-color: #07383d;
  color: #00e789;
  cursor: pointer;
  box-shadow: 0 0 10px #00e789;
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

.toggle-container {
  box-shadow: 0 0 7px rgba(128, 128, 128, 0.699) inset;
}

.selected {
  box-shadow: 0 4px 6px black;
}

/* MODAL */

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  max-width: 450px;
  padding: 2.3rem 3.3rem;
  position: absolute;
  top: 30%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 12;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 600;
  background-color: white;
  color: #01343b;
  border: 2px solid #01343b;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  transition: all 0.15s ease-in;
}

.btn:hover {
  background-color: #01343b;
  color: white;
  box-shadow: 0 2px 7px #01343b;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 11;
}

.hiddenM {
  display: none;
}
