p {
  font-size: 1rem;
}

.circle {
  width: 18rem;
  height: 18rem;
  border: 2px solid #d8367e;
  position: absolute;
  border-radius: 50%;
  top: -10rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.circle:nth-of-type(2) {
  width: 18rem;
  height: 18rem;
  border: 2px solid white;
  position: absolute;
  border-radius: 50%;
  top: -10rem;
  left: -8rem;
  right: 0;
  margin: 0 auto;
}

.circle:nth-of-type(3) {
  width: 18rem;
  height: 18rem;
  border: 2px solid #2b75dd;
  position: absolute;
  border-radius: 50%;
  top: -10rem;
  left: -5.5rem;
  right: 0;
  margin: 0 auto;
}

.custom-icon::before {
  content: '';
  width: 5rem;
  height: 5rem;
  border: 2px solid #0d1e5c;
  position: absolute;
  border-radius: 50%;
  top: -10px;
  left: 10px;
}

.custom-icon::after {
  content: '';
  width: 5rem;
  height: 5rem;
  border: 2px solid #0d1e5c;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 10px;
}

.custom-icon:hover.custom-icon::before,
.custom-icon:hover.custom-icon::after {
  left: -10px;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.custom-icon:hover svg {
  right: -1.4rem;
  transition: all 0.15s ease-in;
  scale: 1.2;
  cursor: pointer;
}

.circle-bottom {
  width: 10rem;
  height: 10rem;
  border: 2px solid #d8367e;
  position: absolute;
  border-radius: 50%;
  bottom: -7.5rem;
  right: 4rem;
}

.circle-bottom:nth-last-of-type(2) {
  width: 10rem;
  height: 10rem;
  border: 2px solid white;
  position: absolute;
  border-radius: 50%;
  bottom: -6.5rem;
  right: 8rem;
}

.circle-bottom:nth-last-of-type(3) {
  width: 10rem;
  height: 10rem;
  border: 2px solid #2b75dd;
  position: absolute;
  border-radius: 50%;
  bottom: -4.5rem;
  right: 7rem;
}

@media (max-width: 836px) {
  .circle,
  .circle:nth-of-type(2),
  .circle:nth-of-type(3) {
    display: none;
  }

  .circle-bottom,
  .circle-bottom:nth-last-of-type(2),
  .circle-bottom:nth-last-of-type(3) {
    display: none;
  }
}
